{% extends "base.html" %} {% block content %}
{% load bootstrap4 %}

<div class="row justify-content-center card card-profile my-5 mx-auto">
    <div class="card-body col-mid-10 col-sm-12">
        <h5 class="card-title text-center">マイページ（予約取り消し）</h5>
        <form action="" method="POST">
            <table class="profile_table mb-4">
                <tbody>
                <tr>
                    <th class="header">予約済みトレーニング</th>
                    <td class="data">
                    {% for training_category in training_category %}
                      {% for booking_data in booking_data %}
                         {% if training_category.training == booking_data.training.id %}
                      　　  <p><label><input type="checkbox" name="delete" value="{{ booking_data.pk }}">{{ booking_data.training }} {{ booking_data.start }}</label></p>
                         {% endif %}
                      {% endfor %}
                      {% empty %}
                   　　<p>まだトレーニングがありません</p>
                    {% endfor %}
                    </td>

                </tr>
                </tbody>
            </table>

            <div class="text-center mx-auto">
                {% if booking_data %}
                    <tabele class="profile_table mb-4">
                        <tbody>
                        <tr><td><a class="btn btn-primary" href="{% url 'mypage' %}">マイページに戻る</a></td>
                            <td><input class="btn btn-warning" type="submit" name="submit" id="notification" value="予約を取り消す" onClick="return cancelCheck()"></td>
                        </tr>
                        </tbody>
                    </tabele>
                {% else %}
                    <p><a class="btn btn-primary" href="{% url 'mypage' %}">マイページに戻る</a></p>
                {% endif %}
            </div>
            {% csrf_token %}
        </form>

        </div>
    </div>
</div>

{% endblock %}