{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}exemail{% endblock %}
{% load bootstrap4 %}
{% block content %}

<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_SITE_KEY }}"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ RECAPTCHA_SITE_KEY }}', {action: 'submit'}).then(function(token) {
            const tokenInput = document.getElementById('id_recaptcha_token');
            if (tokenInput) {
                tokenInput.value = token;
            }
        });
    });
</script>

<div class="row justify-content-center">
    <h2>メールを送信しました</h2>
    <div class="col-lg-8 col-mid-5 col-sm-5">
        <table class="shadow-sm table table-bordered bg-light">
            <tr><td><p>ご登録ありがとうございます。</p>
                    <p>ご入力いただいたメールアドレス宛に確認メールを送信しました。</p>
                    <p>メール内のリンクをクリックして、認証を完了してください。</p>
                    <p class="note">※ 認証リンクの有効期限は１時間です。</p></td></tr>
        </table>
        <div class="mt-3 md-10 mx-auto text-md-center">
        <a class="btn btn-warning" href="/">トップに戻る</a>
        </div>
    </div>
</div>

{% endblock %}