{% extends "base_staff.html" %}
{% load i18n %}
{% block title %}staff_closing_dat{% endblock %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}

<div class="text-center my-0">
    <h2 class="card-title text-center">【休館日・ブロック入力】</h2>
    <div class="mr-auto">
        <a class="btn btn-warning" href="{% url 'staff_calendar' before_day.year before_day.month before_day.day %}">前日</a>
        <span>今日は{{today | date:"Y年n月j日(D)" }}</span>
        <a class="btn btn-warning" href="{% url 'staff_calendar' next_day.year next_day.month next_day.day %}">翌日</a>
    </div>

    <div class="col-mid-10 col-sm-12">
        <div class="d-flex mb-2 mt-1">
            <div class="mr-auto">
                <a class="btn btn-warning" href="{% url 'staff_calendar' before_month.year before_month.month before_month.day %}">前月</a>
            </div>
            <div class="">
                <a class="btn btn-warning" href="{% url 'staff_calendar' next_month.year next_month.month next_month.day %}">次月</a>
            </div>
        </div>
        <table class="table table-bordered bg-light peak__staff_table">
            <thead class="thead-light">
            <tr>
                {% for day, day_details in days.items %}
                    {% for day_detail, today_flg in day_details.items %}
                        {% if day.weekday == 5 %}
                            {% if today_flg == 0 %}
                                <th scope="col" class="border-dark"><a class="text-primary" href="{% url 'staff_closing_day' day.year day.month day.day %}" >{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</a></th>
                            {% else %}
                                <th scope="col" class="border-dark bg-warning"><a class="text-primary" href="{% url 'staff_calendar' day.year day.month day.day %}" >{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</a></th>
                            {% endif %}
                        {% elif day.weekday == 6 %}
                            {% if today_flg == 0 %}
                                <th scope="col" class="border-dark"><a class="text-danger" href="{% url 'staff_closing_day' day.year day.month day.day %}" >{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</a></th>
                            {% else %}
                                <th scope="col" class="border-dark bg-warning"><a  class="text-danger" href="{% url 'staff_closing_day' day.year day.month day.day %}" >{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</a></th>
                            {% endif %}
                        {% else %}
                            {% if today_flg == 0 %}
                                <th scope="col" class="border-dark"><a class="text-black" href="{% url 'staff_closing_day' day.year day.month day.day %}" >{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</a></th>
                            {% else %}
                                <th scope="col" class="border-dark bg-warning"><a class="text-black" href="{% url 'staff_closing_day' day.year day.month day.day %}" >{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</a></th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            <tr>
                {% for day , day_data in days_data.items  %}
                {% if day_data.closing_day == 1 %}
                <td class="text-primary border-black"><a href="{% url 'staff_closing_day' 'off' day.year day.month day.day %}" ><i class="bi bi-toggle-off"></i></a></td>
                    {% elif day_data.closing_day == 0 %}
                <td class="text-primary border-black"><a href="{% url 'staff_closing_day' 'on' day.year day.month day.day %}" ><i class="bi bi-toggle-on"></i></a></td>
                    {% endif %}
                {% endfor %}
            </tr>

            </thead>
        </table>
    </div>

    <div class="col-lg-11 col-mid-11 col-sm-12">
        <table class="table table-bordered bg-light peak__staff_table">
            <thead class="thead-light">
            <tr>
                <th colspan="2" class="text-primary border-left border-dark">時間→</th>
                {% for hour in timetable %}
                <th colspan="4" class="text-primary border-left-thick-hour border-dark">{{ hour }}時</th>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="2" class="border-dark">↓トレーニング</th>
                {% for hour, schedules in timetable.items %}
                    {% for minute, flag in schedules.minutes.items %}
                        <th class="{% if flag == 1 %}border-left-thick bg-warning{% elif flag == 2 %} border-left-thick-hour{% elif forloop.last %} border-dark {% endif %}">{{ minute }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
            </thead>

            {% for training_name , training_schedules in training.items %}
                {% for training_no , training_schedules_no in training_schedules.items %}
                <tr>
                    <td class="text-primary">{{ forloop.counter }}</td>
                    {% if forloop.first %}
                        {% for training_data in training_data %}
                            {% if training_name.id == training_data.id %}
                            <td rowspan="{{training_data.duplicates_num}}"  class="text-primary">{{ training_name.name }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% for training_hour, schedules in training_schedules_no.items %}
                        {% for training_minute, schedules_minute in schedules.items %}
                            {% if schedules_minute.blackgray == "B" %}
                                <td class="{% if schedules_minute.hour_flg == 1 %} border-left-thick-hour {% endif %}" >
                                    <a class="open-modal" href="{% url 'staff_closing_modal' 'B' schedules_minute.closing_id today.year today.month today.day training_hour training_minute %}" >
                                        <i class="peak__block bi bi-x-square-fill"></i>
                                    </a>
                                </td>
                            {% elif schedules_minute.blackgray == "G" %}
                                <td class="text-secondary {% if schedules_minute.hour_flg == 1 %} border-left-thick-hour {% endif %}" >
                                    <a class="open-modal" href="{% url 'staff_closing_modal' 'G' schedules_minute.closing_id today.year today.month today.day training_hour training_minute %}" >
                                        <i class="bi bi-x-square"></i>
                                    </a>
                                </td>
                            {% else %}
                                <td class="text-primary {% if schedules_minute.hour_flg == 1 %} border-left-thick-hour {% endif %}">
                                    <a class="open-modal" href="{% url 'staff_closing_modal' training_name.id today.year today.month today.day training_hour training_minute %}" >
                                        <i class="bi bi-dash"></i>
                                    </a>
                                </td>
                            {% endif %}
                    　  {% endfor %}
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}

