{% extends "base_staff.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}staff_exbooking_new{% endblock %}
{% load bootstrap4 %}
{% block content %}

<h1 class="text-center my-2">スタッフ体験予約</h1>
<div class="card my-3 col-md-7 text-center input_check_box">
    <h4 class="card-title bg-info my-3">予約内容</h4>
    <table class="shadow-sm table table-bordered bg-light">
        <thead class="thead-light">
        <tr>
            <th class="header">トレーニング</th>
            <td class="data" colspan="2">{{ training_data.name }}</td>
        </tr>
        <tr>
            <th class="header">日程</th>
            <td class="data">
                開始：{{ start }}
            </td>
            <td class="data">
                終了：{{ end }}
            </td>
        </tr>
        </thead>
    </table>
    <h4 class="card-title text-center  bg-info my-3">予約者情報</h4>
    <form method="post">
        {% csrf_token %}
        <table class="shadow-sm table table-bordered bg-light">
            <tbody>
            <thead class="thead-light">
            {% if err_cd == 99 %}<tr><td colspan="2" class="text-red">すでに体験予約が登録されているので、登録できませんでした。</td></tr>{% endif %}
            <tr><span class="text-danger">*</span>は必須入力項目となります</tr>

            <tr>
                <th class="header">お名前<span class="text-danger">*</span></th>
                <td class="data">
                    <nobr>{% render_field form.first_name class="form-control_peak" placeholder="姓" %}
                    {% render_field form.last_name class="form-control_peak" placeholder="名" %}</nobr>
                </td>
            </tr>

            <tr>
                <th class="header">性別<span class="text-danger">*</span></th>
                <td class="data" colspan="2">
                    {% for value, label in form.sex.field.choices %}
                        <div class="form-check form-check-inline">
                            <input type="radio" id="sex_{{ forloop.counter }}" name="sex" value="{{ value }}" {% if form.sex.value == value %}checked{% endif %}>
                            <label for="sex_{{ forloop.counter }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th class="header">年齢<span class="text-danger">*</span></th>
                <td class="data" colspan="2">
                    {% for value, label in form.age.field.choices %}
                        <div class="form-check form-check-inline">
                            <input type="radio" id="age_{{ forloop.counter }}" name="age" value="{{ value }}" {% if form.age.value == value %}checked{% endif %}>
                            <label for="age_{{ forloop.counter }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th class="header">人数<span class="text-danger">*</span></th>
                <td class="data" colspan="2">
                    {% for value, label in form.people.field.choices %}
                        <div class="form-check form-check-inline">
                            <input type="radio" id="people_{{ forloop.counter }}" name="people" value="{{ value }}" {% if form.people.value == value %}checked{% endif %}>
                            <label for="people_{{ forloop.counter }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th class="header">Email<span class="text-danger">*</span></th>
                <td class="data form_wrap form_wrap__2col" colspan="2">
                    {% render_field form.email class="form-control" placeholder="Mail" %}
                </td>
            </tr>

            <tr>
                <th class="header">携帯電話</th>
                <td class="data form_wrap form_wrap__2col" colspan="2">
                    {% render_field form.tel_number class="form-control" placeholder="携帯電話" %}
                </td>
            </tr>

            <tr>
                <th class="header">目的</th>
                <td class="data" colspan="2">
                    {% for value, label in form.objective.field.choices %}
                        <div class="form-check form-check-inline">
                            {% if value|stringformat:"s" in objective %}
                                <input type="checkbox" id="objective_{{ forloop.counter }}" name="objective" value="{{ value }}" checked>
                            {% else %}
                                <input type="checkbox" id="objective_{{ forloop.counter }}" name="objective" value="{{ value }}">
                            {% endif %}
                            <label for="objective_{{ forloop.counter }}">{{ label }}</label>
                        </div>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <th class="header">伝えたいこと</th>
                <td class="data" colspan="2">
                    {% render_field form.remarks class="form-control" %}
                </td>
            </tr>

            </thead>
            </tbody>
        </table>
        <div class="buton mx-auto my-3">
            <input class="btn btn-warning" type="submit" name="back" id="ex_booking_bak" value="戻る" >
            <input type="hidden" name="training" id="training" value="{{ training_data.0.pk }}">
            {% if form.ex_booking_id.value %}
                <input class="btn btn-primary" type="submit" name="update" id="ex_booking" value="更新する" onClick="return StaffExBookingCheck()">
            {% else %}
                <input class="btn btn-primary" type="submit" name="input" id="ex_booking" value="登録する" onClick="return StaffExBookingCheck()">
            {% endif %}
            <input type="hidden" name="action_type" id="id_action_type" value="submit">
        </div>
        {% if form.ex_booking_id.value is None %}
        {% else %}
            <input class="btn btn-primary" type="submit" name="delete" id="ex_booking" value="削除する" onClick="return StaffExBookingDelCheck()">
        {% endif %}
        {% csrf_token %}
    </form>
</div>

{% endblock %}