{% extends "base.html" %} {% block content %}
{% load bootstrap4 %}

<div class="row justify-content-center card card-profile my-5 mx-auto">
    <div class="card-body col-mid-10 col-sm-12">
        <h5 class="card-title text-center">プロフィール</h5>
        <table class="profile_table mb-4">
            <tbody>
            <tr>
                <th class="header">プロフィール画像</th>
                <td class="data">
                    {% if user_data.image %}
                    <img src="{{ user_data.image.url }}" width="100px" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="header">名前</th>
                <td class="data">{{ user_data.first_name }} {{ user_data.last_name }}</td>
            </tr>
            <tr>
                <th class="header">性別</th>
                <td class="data">{% if user_data.sex == 1 %} 男　{% elif user_data.sex == 2 %}女　{% else %}選択しない {% endif %}</td>
            </tr>
            <tr>
                <th class="header">メールアドレス</th>
                <td class="data">{{ user_data.email }}</td>
            </tr>
            <tr>
                <th class="header">電話</th>
                <td class="data">{{ user_data.tel_number }}</td>
            </tr>
            <tr>
                <th class="header">入会日</th>
                <td class="data">{{ user_data.created }}</td>
            </tr>
            <tr>
                <th class="header">誕生日</th>
                <td class="data">{{ user_data.birthday }}</td>
            </tr>
            </tbody>
        </table>
        <div class="button mx-auto">
            <a class="btn btn-lg btn-warning btn-block" href="{% url 'profile_edit' %}">編集する</a>
        </div>
    </div>
</div>

{% endblock %}