<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% load static %}
<html lang="ja">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'css_staff.html' %}
      {% block extra_css %}{% endblock %}

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}
  </head>
  <body>

    {% include 'nav_staff.html' %}
    {% block allauth %}

    {% endblock %}
    {% block content %}{% endblock %}
    {% block extra_body %}{% endblock %}
    {% include 'footer_staff.html' %}
    {% block modals %}{% endblock %}
    {% include 'js_staff.html' %}
  </body>
  <!-- モーダル枠（中身はAjaxで差し込む） -->
  <div class="modal fade" id="modalContainer" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel">閉館設定</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  読み込み中...
              </div>
          </div>
      </div>
  </div>
</html>
