{% extends "base_staff.html" %}
{% load i18n %}
{% block title %}calender{% endblock %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8 col-mid-10 col-sm-12">
        <h2 class="card-title text-center">【おしらせ入力】</h2>
        <form action="" method="POST">
            <table class="card md-4 shadow-sm">
                <tr><td>おしらせ内容</td><td>{% render_field form.notice class="form-control" placeholder="おしらせ" %}</td></tr>
            </table>

            <div class="button mx-auto">
                <button type="submit">更新する</button>
            </div>

           　{% csrf_token %}
        </form>
    </div>

</div>



{% endblock %}