{% extends "base_staff.html" %}
{% load i18n %}
{% block title %}calender{% endblock %}
{% load bootstrap4 %}

{% block content %}

<div class="text-center my-5">
    <div class="mr-auto">
        <a class="btn btn-warning" href="{% url 'staff_calendar' before_day.year before_day.month before_day.day %}">前日</a>
        <span>今日は{{today | date:"Y年n月j日(D)" }}</span>
        <a class="btn btn-warning" href="{% url 'staff_calendar' next_day.year next_day.month next_day.day %}">翌日</a>
    </div>

    <div class="col-mid-10 col-sm-12">
        <div class="d-flex mb-2">
            <div class="mr-auto">
                <a class="btn btn-warning" href="{% url 'staff_calendar' before_month.year before_month.month before_month.day %}">前月</a>
            </div>
            <div class="">
                <a class="btn btn-warning" href="{% url 'staff_calendar' next_month.year next_month.month next_month.day %}">次月</a>
            </div>
        </div>
        <div class="">
            <table class="table table-bordered bg-light">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for day in days %} {% if day.weekday == 5 %}
                    <th scope="col" class="text-primary">{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</th>
                    {% elif day.weekday == 6 %}
                    <th scope="col" class="text-danger">{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</th>
                    {% else %}
                    <th scope="col">{{ day | date:"j" }}<br>{{ day | date:"(D)" }}</th>
                    {% endif %} {% endfor %}
                </tr>
                </thead>
            </table>
        </div>

        <div class="">
            <table class="table table-bordered bg-light">
                <thead class="thead-light">
                    <tr>
                        <th colspan="3" >時間→</th>
                        {% for hour in timetable %}
                        <th colspan="4" class="text-primary">{{ hour }}時</th>
                        {% endfor %}
                    </tr>
                </thead>
                    <tr>
                        <th colspan="3">↓トレーナー</th>
                        {% for hour, schedules in timetable.items %}
                          {% for minute, schedules_minute in schedules.items %}
                          <td class="text-primary">{{ minute }}分</td>
                          {% endfor %}
                        {% endfor %}
                    </tr>
                    {% for staff in staffs %}
                    <tr>
                        <td class="text-primary">{{ forloop.counter }}</td>
                        {% if forloop.first %} <td rowspan="{{ staff_cnt }}" class="text-primary">勤務時間</td>{% endif %}
                        <td class="text-primary">{{ staff.first_name }}</td>
                            {% for hour, schedules in timetable.items %}
                              {% for minute, schedules_minute in schedules.items %}
                              　　<td class="text-primary">仮</td>
                              {% endfor %}
                            {% endfor %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3" >↓トレーニング</td>
                    </tr>
                    {% for training_name , training_schedules in training.items %}
                        {% for training_num , training_num in training_schedules.items %}
                            <tr>
                                <td class="text-primary">{{ forloop.counter }}</td>
                                    {% if forloop.first %}
                                         {% for training_data in training_data %}
                                           {% if training_name.id == training_data.id %}
                                             <td colspan="2" rowspan="{{training_data.duplicates_num}}"  class="text-primary">{{ training_name.name }}</td>
                                           {% endif %}
                                         {% endfor %}
                                    {% endif %}

                                    {% for hour, schedules in training_num.items %}
                                      {% for minute, schedules_minute in schedules.items %}
                             　　         <td class="text-primary">仮</td>
                                   　　{% endfor %}
                                　  {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}

            </table>
        </div>
    </div>
</div>
{% endblock %}